<section id="about-me" class="section-about-me">
  <div class="container">
    <h2 class="about-me-title visually-hidden">About me</h2>

    <div class="about-me-wrapper">
      <div class="about-me-container">
        <h4 class="about-me-subtitle">
          I work with people all over the world to create impressive and
          <span class="color-red">functional</span>
          <span class="color-grey">websites</span> that reflect each client's
          unique personality.
        </h4>
      </div>
      <div class="about-me-content-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/about-me-desktop.webp    1x,
              ./img/about-me/about-me-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/about-me-tablet.webp    1x,
              ./img/about-me/about-me-tablet@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/about-me/about-me-mobile@2x.webp 2x"
          />
          <img src="./img/about-me/about-me-mobile.webp" alt="My avatar" />
        </picture>
      </div>
    </div>

    <ul class="accord-container">
      <li class="ac am-accord-item">
        <h2 class="ac-header am-accord-header">
          <button type="button" class="ac-trigger am-accord-trigger">
            About me
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-down"
                width="18"
                height="18"
                aria-label="icon down arrow"
              >
                <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
              </svg>
            </span>
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-up"
                width="18"
                height="18"
                aria-label="icon up arrow"
              >
                <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel am-accord-panel">
          <p class="ac-text am-accord-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text am-accord-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. <br class="br-am" />I am always looking for
            opportunities for self-improvement. I actively study new
            technologies and practices to stay abreast of the latest
            innovations. I have a strong understanding of various programming
            languages, frameworks and architectural concepts that allow me to
            create efficient and scalable software.
          </p>
        </div>
      </li>

      <li class="ac am-accord-item">
        <h2 class="ac-header am-accord-header">
          <button type="button" class="ac-trigger am-accord-trigger">
            Role
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-down"
                width="18"
                height="18"
                aria-label="icon down arrow"
              >
                <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
              </svg>
            </span>
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-up"
                width="18"
                height="18"
                aria-label="icon up arrow"
              >
                <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel am-accord-panel role">
          <p class="ac-text am-accord-text">Frontend development</p>
          <p class="ac-text am-accord-text">HeadlessCMS,Wordpress</p>
          <p class="ac-text am-accord-text">Blender(enjoy)</p>
        </div>
      </li>

      <li class="ac am-accord-item">
        <h2 class="ac-header am-accord-header">
          <button type="button" class="ac-trigger am-accord-trigger">
            Education
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-down"
                width="18"
                height="18"
                aria-label="icon down arrow"
              >
                <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
              </svg>
            </span>
            <span class="am-accord-btn-icon">
              <svg
                class="am-icon-btn-up"
                width="18"
                height="18"
                aria-label="icon up arrow"
              >
                <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel am-accord-panel education">
          <p class="ac-text am-accord-text education-first">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="ac-text am-accord-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="ac-text am-accord-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>

    <div class="about-me-swiper">
      <div class="swiper swiper-am">
        <ul class="swiper-wrapper swiper-wrapper-am">
          <li class="swiper-slide swiper-slide-am">HTML/CSS</li>
          <li class="swiper-slide swiper-slide-am">JavaScript</li>
          <li class="swiper-slide swiper-slide-am">React</li>
          <li class="swiper-slide swiper-slide-am">Node.js</li>
          <li class="swiper-slide swiper-slide-am">React Native</li>
          <li class="swiper-slide swiper-slide-am">Soft skills</li>
          <li class="swiper-slide swiper-slide-am">Angular</li>
        </ul>
      </div>
      <button type="button" class="button-next">
        <svg
          class="sw-btn-next"
          width="28"
          height="28"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.6665 20H33.3332"
            stroke="#3B3B3B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M23.3335 10L33.3335 20L23.3335 30"
            stroke="#3B3B3B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
