<section id="covers" class="section-covers container">
  <div class="covers">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-1.webp    1x,
                ./img/covers/cover-1@2x.webp 2x
              " src="./img/covers/cover-1.webp" alt="project-1" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-2.webp    1x,
                ./img/covers/cover-2@2x.webp 2x
              " src="./img/covers/cover-2.webp" alt="project-2" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-3.webp    1x,
                ./img/covers/cover-3@2x.webp 2x
              " src="./img/covers/cover-3.webp" alt="project-3" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-4.webp    1x,
                ./img/covers/cover-4@2x.webp 2x
              " src="./img/covers/cover-4.webp" alt="project-4" width="544" height="315" />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-4.webp    1x,
                ./img/covers/cover-4@2x.webp 2x
              " src="./img/covers/cover-4.webp" alt="project-4" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-5.webp    1x,
                ./img/covers/cover-5@2x.webp 2x
              " src="./img/covers/cover-5.webp" alt="project-5" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-6.webp    1x,
                ./img/covers/cover-6@2x.webp 2x
              " src="./img/covers/cover-6.webp" alt="project-6" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-7.webp    1x,
                ./img/covers/cover-7@2x.webp 2x
              " src="./img/covers/cover-7.webp" alt="project-7" width="544" height="315" />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-7.webp    1x,
                ./img/covers/cover-7@2x.webp 2x
              " src="./img/covers/cover-7.webp" alt="project-7" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-8.webp    1x,
                ./img/covers/cover-8@2x.webp 2x
              " src="./img/covers/cover-8.webp" alt="project-8" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-9.webp    1x,
                ./img/covers/cover-9@2x.webp 2x
              " src="./img/covers/cover-9.webp" alt="project-9" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-10.webp    1x,
                ./img/covers/cover-10@2x.webp 2x
              " src="./img/covers/cover-10.webp" alt="project-10" width="544" height="315" />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-1.webp    1x,
                ./img/covers/cover-1@2x.webp 2x
              " src="./img/covers/cover-1.webp" alt="project-1" width="544" height="315" />
          </li>

          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-3.webp    1x,
                ./img/covers/cover-3@2x.webp 2x
              " src="./img/covers/cover-3.webp" alt="project-3" width="544" height="315" />
          </li>

          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-5.webp    1x,
                ./img/covers/cover-5@2x.webp 2x
              " src="./img/covers/cover-5.webp" alt="project-5" width="544" height="315" />
          </li>
          <li class="marquee-line">
            <img srcset="
                ./img/covers/cover-6.webp    1x,
                ./img/covers/cover-6@2x.webp 2x
              " src="./img/covers/cover-6.webp" alt="project-6" width="544" height="315" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>