<section id="faq" class="section-faq container">
  <div class="faq-container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="faq-ul accordion-container-faq">
      <li class="faq-el ac">
        <h3 class="faq-subtitle ac-header">
          What programming languages are most often used in your project?
        </h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-el ac open">
        <h3 class="faq-subtitle ac-header">
          What are the deadlines for the project?
        </h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-el ac open">
        <h3 class="faq-subtitle ac-header">
          What payment methods do you accept?
        </h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-el ac open">
        <h3 class="faq-subtitle ac-header">How can I contact you?</h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-el ac open">
        <h3 class="faq-subtitle ac-header">
          Do you provide advice or support?
        </h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-el ac open">
        <h3 class="faq-subtitle ac-header">
          What does the process of developing a software product look like from
          idea to implementation?
        </h3>
        <button type="button" class="faq-btn ac-trigger">
          <svg
            class="an-icon-button-down open"
            width="18"
            height="18"
            aria-label="icon down arrow"
          >
            <use href="./img/icons-sprite.svg#icon-down-arrow"></use>
          </svg>
          <svg
            class="an-icon-button-up"
            width="18"
            height="18"
            aria-label="icon up arrow"
          >
            <use href="./img/icons-sprite.svg#icon-up-arrow"></use>
          </svg>
        </button>
        <div class="faq-text ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
