<div class="modal-menu">
  <div class="modal-container">
    <button class="close-btn" type="button">
      <svg class="close-icon" width="28" height="28">
        <use href="./img/icons-sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="menu-modal">
      <ul class="modal-list">
        <li><a class="modal-item" href="#about-me">About me</a></li>
        <li><a class="modal-item" href="#benefits">Benefits</a></li>
        <li><a class="modal-item" href="#projects">Projects</a></li>
        <li><a class="modal-item" href="#faq">FAQ</a></li>
      </ul>
      <a class="modal-link" href="#work-together">Order the project</a>
    </div>
  </div>
</div>
