.section-covers {
  padding: 32px 0px;
}
.covers {
  min-width: 320px;
  height: 508px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/covers/bg-mobile.png);
}
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.covers-content {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  height: 508px;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  transform: rotate(16deg);
  margin: 40px;
  bottom: 0;
}

.marquee-line {
  flex-shrink: 0;
  padding-top: 20px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4);
  white-space: nowrap;
}
.js-marquee-line {
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .covers {
    background-image: url(../img/covers/bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .section-covers {
    padding: 48px 0px;
  }
  .covers {
    max-width: 768px;
    height: 960px;
    background-image: url(../img/covers/bg-tablet.png);
  }
  .covers-content {
    position: relative;
  }
  .marquee {
    height: 960px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .covers {
      background-image: url(../img/covers/bg-tablet@2x.png);
    }
    .covers-content {
      position: relative;
    }
  }
}
@media screen and (min-width: 1440px) {
  .section-covers {
    padding: 80px 0px;
  }
  .covers {
    max-width: 1440px;
    background-image: url(../img/covers/bg-desktop.png);
  }
  .covers-content {
    position: relative;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .covers {
      background-image: url(../img/covers/bg-desktop@2x.png);
    }
    .covers-content {
      position: relative;
    }
  }
}
