.scroll-up {
  position: fixed;
  right: 15px;
  bottom: 53px;
  z-index: 9999;
  visibility: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #ed3b44;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px #ed3b44;
}

.scroll-up:hover {
  background-color: #242527;
  scale: 1.05;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-up-active {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .scroll-up {
    right: 28px;
    width: 50px;
    height: 50px;
  }

  .icon-scroll-up {
    width: 35px;
    height: 35px;
  }
}
