.section-work-together {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: -webkit-image-set(
    url('../img/footer/bg-mobile.png') 1x,
    url('../img/footer/bg-mobile@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
}

@media screen and (min-width: 768px) {
  .section-work-together {
    padding-top: 80px;
    padding-bottom: 169px;
    background-image: -webkit-image-set(
      url(../img/footer/bg-tablet.png) 1x,
      url(../img/footer/bg-tablet@2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
  }
}

@media screen and (min-width: 1440px) {
  .section-work-together {
    background-image: -webkit-image-set(
      url(../img/footer/bg-desktop.png) 1x,
      url(../img/footer/bg-desktop@2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
  }
}

@media screen and (min-width: 1440px) {
  .inside-wrapper {
    padding-left: 164px;
  }
}

.img-work-together {
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .img-work-together {
    border-radius: 24px;
  }
}

.title-work-together {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;

  margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
  .title-work-together {
    font-size: 64px;
    gap: 10px 20px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .title-work-together {
    width: 542px;
  }
}

.accent-work-together {
  color: var(--red);
}

.form-work-together {
  display: flex;
  gap: 16px;
  flex-direction: column;
  letter-spacing: -0.02em;

  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .form-work-together {
    gap: 32px;
    flex-direction: row;
    margin-bottom: 18px;
    align-items: center;
  }
}

.input-form-work-together,
.comments-form-work-together {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  padding: 0;
  width: 100%;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .input-form-work-together {
    width: 245px;
  }
}
@media screen and (min-width: 1440px) {
  .input-form-work-together {
    width: 390px;
  }
}
.input-form-work-together::placeholder,
.comments-form-work-together::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.input-wrapper,
.comments-wrapper {
  position: relative;
  height: 44px;
}
.input-wrapper::after {
  content: '';
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 16px);
}
.input-wrapper.valid::after {
  background-color: #3cbc81;
}
.input-wrapper.invalid::after {
  background-color: #e74a3b;
}

@media screen and (min-width: 768px) {
  .input-wrapper::after {
    width: 100%;
  }
}

.comments-wrapper::after {
  content: '';
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 16px);
}
.comments-wrapper.filling::after {
  background-color: rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 768px) {
  .comments-wrapper::after {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .comments-form-work-together {
    width: 245px;
  }
}
@media screen and (min-width: 1440px) {
  .comments-form-work-together {
    width: 390px;
  }
}

.button-form-work-together {
  background-color: var(--red);
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: inherit;
  outline: none;
  border: none;

  transition: background-color 250ms ease;
}

@media screen and (min-width: 768px) {
  .button-form-work-together {
    margin-top: 0;
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .button-form-work-together {
    margin-left: 68px;
  }
}

.button-form-work-together:hover,
.button-form-work-together:focus {
  background-color: var(--red-hover);
}

.contacts-list-work-together {
  display: flex;
  gap: 4px;
}

@media screen and (max-width: 374px) {
  .contacts-list-work-together {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list-work-together {
    gap: 8px;
  }
}

.contacts-item-work-together {
  cursor: pointer;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: -0.02em;

  transition: border-color 250ms ease;
}
@media screen and (min-width: 768px) {
  .contacts-item-work-together {
    padding: 18px 32px;
    font-size: 16px;
  }
}

.contacts-item-work-together:hover,
.contacts-item-work-together:focus {
  border-color: inherit;
}

.input-success {
  font-size: 14px;
  line-height: 1.28;
  position: absolute;
  bottom: -22px;
  left: 0;
  color: #3cbc81;
}

.input-invalid {
  font-size: 14px;
  line-height: 1.28;
  position: absolute;
  bottom: -22px;
  left: 0;
  color: #e74a3b;
}

/* modal */

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(15, 15, 16, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  background-color: var(--modal-content-bg);
  text-align: center;
  letter-spacing: -0.02em;
  position: relative;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    padding: 64px;
    max-width: 492px;
  }
}
.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.close-icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .close-icon {
    width: 24px;
    height: 24px;
  }
}

.modal-wrapper-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.modal-wrapper-text {
  color: rgba(250, 250, 250, 0.6);
}
